<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>回廊</title>
  <script src="javascripts/standard.js"></script>
  <script src="javascripts/three.min.js"></script>
  <script src="javascripts/keyCallBack.js"></script>
  <script src="javascripts/PointerLockControls.js"></script>
  <script src="javascripts/dat.gui.min.js"></script>
  <style>
    body{
      margin: 0;
      overflow: hidden;
    }
  </style>
  </head>
  <body>
    <div id="WebGL-output"></div>
      <script src="javascripts/main.js"></script>
    </div>
  </body>
</html>
